NEXT_PUBLIC_WEB3AUTH_CLIENT_ID=YOUR_WEB3AUTH_CLIENT_ID
NEXT_PUBLIC_RPC_URL=https://ethereum.blockpi.network/v1/rpc/public
NEXT_PUBLIC_XMTP_ENV=YOUR_XMTP_ENV
NEXT_PUBLIC_SERPER_API_KEY=YOUR_SERPER_API_KEY
NEXT_PUBLIC_KINTO_API_KEY=YOUR_KINTO_API_KEY
NEXT_PUBLIC_STACKR_API_KEY=YOUR_STACKR_API_KEY