.ConnectWalletButton {
  display: flex;
  padding: var(--spacing-10, 10px) var(--spacing-12, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-4, 4px);
  border-radius: var(--radius-full, 360px);
  background: var(--background-button-primary, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(20, 21, 26, 0.05);
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--text-base-inverted, #0B0C0E);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.07px;

}

.ConnectWalletButton:hover {
  background-color: #374151;
}

.ConnectWalletButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}