.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background-surface-default, #0B0C0E);
}

.logoContainer {
  flex: 1;
}

.logo {
  width: 150px;  /* Logo boyutunu artırın */
  height: auto;  /* Oranı koruyarak yüksekliği otomatik ayarlayın */
}

.privateToggle {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 1rem;
}