.header {
  background-color: #0B0C0E;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #F3F4F6;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userName {
  margin-right: 10px;
}

.userEmoji {
  font-size: 20px;
}