.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1F2937;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.userInfo {
  display: flex;
  align-items: center;
}